@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}

@{
    ViewData["Title"] = "BIONET Therapeutics Corp.";
    ViewData["MetaTitle"] = "訊聯細胞智藥-再生醫療製劑、細胞製劑、次世代外泌體Exosome、Exosome Foundry外泌體全球研發代工(訊聯生技集團)";
    ViewData["MetaDescription"] = "訊聯細胞智藥股份有限公司為訊聯集團旗下訊聯生技、訊聯基因數位2家公司，整合3大核心能力「再生醫學/細胞治療」、「精準健康/基因醫學」、「數位科技/智慧研發」的新引擎，主攻再生醫療製劑、細胞製劑、智慧研發、智慧健康、次世代外泌體Exosome 、Exosome Foundry外泌體全球研發代工CRDMO、基因及細胞治療等先進療法，滿足全球更廣大的健康需求。目前7款細胞治療製劑開發中：急性呼吸窘迫症候群ARDS、肺部纖維化、慢性腎衰竭、急性傷口修復、慢性傷口癒合、退化性關節炎、乾眼症";
    ViewData["MetaKeywords"] = "訊聯生技集團, 訊聯,細胞智藥,細胞製劑,再生醫療製劑,訊聯外泌體,次世代外泌體,外泌體,Exosome,急性呼吸窘迫症候群,ARDS,肺部纖維化,慢性腎衰竭,急性傷口修復,慢性傷口癒合,糖尿病足潰瘍,退化性關節炎,乾眼症,CRDMO,Exosome Foundry,外泌體研發代工";
    ViewData["MetaOgTitle"] = "訊聯細胞智藥";
    ViewData["MetaOgDescription"] = "訊聯細胞智藥";
}

<!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video" playsinline>
        <source src="~/EN/assets/images/banner.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="caption">

                        <h1 id="HH">BIONET Therapeutics</h1>
                        <h2>Meta Exosome X Cell Therapy  X Exosome Foundry</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-service-item owl-carousel">
                    <div class="item" style="opacity:0.85;height:280px;">
                        <div class="icon">
                            <img src="~/assets/images/icons/icon_O_14GTP_new.svg" alt="">
                        </div>
                        <div class="down-content">
                            <h4>
                                <span style="color:#EC6D34;font-size:20px">
                                    14 times GTP Certification
                                </span>
                            </h4>
                            <h4>
                                <span style="color:#FFFFFF;font-size:16px">
                                    passed the on-site audit for GTP certification by
                                    Taiwan Ministry of Healthy and Welfare.
                                </span>
                            </h4>
                        </div>

                    </div>

                    <div class="item" style="opacity:0.85;height:280px;">
                        <div class="icon">
                            <img src="~/assets/images/icons/icon_O_11AABB_new.svg" alt="">
                        </div>
                        <div class="down-content">
                            <h4><span style="color:#EC6D34;font-size:20px;">11 times AABB Accreditation</span></h4>
                            <h4>
                                <span style="color:#FFFFFF;font-size:16px;">
                                    globally recognized certification, indicating
                                    exceptional services and products offered by company.
                                </span>
                            </h4>
                        </div>

                    </div>



                    <div class="item">
                        <div class="icon">
                            <img src="~/assets/images/icons/icon_O_GMP_ISO_new.svg" alt="">
                        </div>
                        <div class="down-content">
                            <h4>GMP and ISO Certification</h4>
                            <h5>GMP Standard Excellent Manufacturing Site and Compliance with EU Cosmetics GMP Manufacturing Standards 'ISO 22716'.</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="~/assets/images/icons/icon_O_INCI38293_new.svg" alt="">
                        </div>
                        <div class="down-content">
                            <h4>
                                International Nomenclature Cosmetic Ingredient (INCI) Listed (Mono ID: 38293)
                            </h4>
                            <h5>First company in Taiwan to Receive PCPC Certified MSC Exosome - INCI name: Pig Umbilical Mesenchymal Stem Cell Exosomes.</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="~/assets/images/icons/icon_O_INCI35046_new.svg" alt="">
                        </div>
                        <div class="down-content">
                            <h4>
                                International Nomenclature Cosmetic Ingredient (INCI) Listed  (Mono ID: 35046)
                            </h4>
                            <h5>First company in Taiwan to Receive PCPC Certified MSC Exosome - INCI name: Human Umbilical Mesenchymal Stem Cell Exosomes.</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="~/assets/images/icons/icon_O_BU-01New Drug_new.svg" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Umbilical Cord Mesenchymal Stem Cell New Drug BU-01</h4>
                            <h5>First Phase II Clinical Trial for Pulmonary Fibrosis Treatment</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="~/assets/images/icons/icon_O_BU-01ARDS_new.svg" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Umbilical Cord Mesenchymal Stem Cell New Drug BU-01</h4>
                            <h5>~ 50% Enrollment for Phase II Clinical Trial in Acute Respiratory Distress Syndrome (ARDS) Treatment</h5>
                        </div>

                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="~/assets/images/icons/icon_O_EXOtear_new.svg" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Exosome-Based New Drug ExoTear</h4>
                            <h5>Awarded CDE Key Project Consultation</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="~/assets/images/icons/icon_O_InternationalCertification_new.svg" alt="">
                        </div>
                        <div class="down-content">
                            <h4>International Journal Certification</h4>
                            <h5>Gene-Modified Exosomes for Improving Acute Lung Injury Published in《J of Biomedical Science》(IF=11)</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="~/assets/images/icons/icon_O_CRDMO_new.svg" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Exosome Foundry</h4>
                            <h5>CRDMO Exosome Research and Development</h5>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>


@* <section class="upcoming-meetings" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</section> *@


<section class="our-facts">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    Five characteristics of Meta Exosome
                </h2>
            </div>

            <div class="col-md-5  col-12  align-self-center p-1">
                <div class="video">
                    <a href="https://www.youtube.com/watch?v=-7jDbiHNE4E">
                        <img src="~/assets/images/video-item-bg-en-01.png" alt="">
                    </a>
                </div>
            </div>

            <div class=" col-md-7  col-12 align-self-center p-1">
                <div class="imgwrap">

                    <img src="~/assets/images/index/exosomeSection-en.png" alt="">

                </div>

            </div>
        </div>
    </div>
</section>






<section class="apply-now" id="apply">
    <div class="container">
        <div class="row justify-content-center">
            
            <div class="col-lg-8">
                <div class="item blockCompanyIntro">
                    <img id="bionetlogo" src="~/assets/images/bionetlogo.svg" style="width:300px;" class="my-4">
                    <p class="py-2">
                        BIONET is the first publicly listed company in Taiwan specializing in cell therapy. BIONET possesses the core technology and preparation capabilities of medical-grade cell therapy products. The company not only applies cell therapies to treat more than 60 types of diseases but also provides customized exosomes (Umbilical Cord Blood Exosomes, Amniotic Fluid Exosomes) services. In addition, The company’s own Mesenchymal Stem Cell bank was established in 2005. Under the “Regulations Governing the Application or Use of Specific Medical Techniques or Examinations, or Medical Devices“ passed by the Ministry of Health and Welfare in 2018, autologous adipose-derived stem cells are approved for indications such as osteoarthritis and chronic wounds, subcutaneous soft tissue defect and immune cells (CIK) for the treatment of various cancers such as colorectal cancer, lung cancer, breast cancer, and liver cancer.



                    </p>
                    <span class="indexSpan">Product Services: Umbilical cord blood hematopoietic stem cells, umbilical cord mesenchymal stem cells, umbilical cord blood exosomes, amniotic fluid exosomes, adipose-derived mesenchymal stem cells, immune cells.</span>
                    <div class="main-button-red mt-4" style="text-align:center;">
                        <div><a href="https://www.bionetcorp.com/" target="_blank">Read more</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="item blockCompanyIntro">
                    <img id="ggalogo" src="~/assets/images/ggalogo.svg" style="width:180px;" class="my-4">
                    <p class="py-2">
                        GGA is the first company in Taiwan that specializes in both "precision health/genomic medicine" and "digital medical technology," integrating capabilities in biomedicine and information technology. For many years, we have provided the medical community with various clinical testing and analysis reports. With our goal of delivering a "Patient-centered Total Testing Process," which involves comprehensive analysis and follow-up of all tests focused on achieving the best clinical outcomes for each patient, we actively pursue the implementation of all-encompassing precision health services across all age groups.



                    </p>
                    <span class="indexSpan">Product Services: Preconception Testing, Prenatal Testing, Newborn Testing, Adult Health & Cancer Risk Genetic Testing.</span>
                    <div class="main-button-red mt-4" style="text-align:center;">
                        <div><a href="https://www.gga.asia/en/index" target="_blank">Read more</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<script src="~/js/Vue/vue.js"></script>  