<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - BionetTX</title>
<!-- Bootstrap core CSS -->
<link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Additional CSS Files -->
<link rel="stylesheet" href="~/assets/css/fontawesome.css">
<link rel="stylesheet" href="~/assets/css/templatemo-edu-meeting.css">
<link rel="stylesheet" href="~/assets/css/owl.css">
<link rel="stylesheet" href="~/assets/css/lightbox.css">

@* font *@
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">

@* favicon*@
<link rel="icon" type="image/x-icon" href="~/assets/images/icons/icon_Bionettx-xs.png">

@* custom *@
<link rel="stylesheet" href="~/css/otherStyle.css" asp-append-version="true" />

@*GA4*@
@* <script async src="https://www.googletagmanager.com/gtag/js?id=G-XXCFZ9QGHB"></script>
<script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-XXCFZ9QGHB');</script> *@

@*GTM*@

@* <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TFKGCL6G');
 </script> *@

