@* <%@@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %> *@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "訊聯細胞智藥";
    ViewData["MetaTitle"] = "訊聯細胞智藥-再生醫療製劑、細胞製劑、次世代外泌體Exosome、Exosome Foundry外泌體全球研發代工(訊聯生技集團)";
    ViewData["MetaDescription"] = "訊聯細胞智藥股份有限公司為訊聯集團旗下訊聯生技、訊聯基因數位2家公司，整合3大核心能力「再生醫學/細胞治療」、「精準健康/基因醫學」、「數位科技/智慧研發」的新引擎，主攻再生醫療製劑、細胞製劑、智慧研發、智慧健康、次世代外泌體Exosome 、Exosome Foundry外泌體全球研發代工CRDMO、基因及細胞治療等先進療法，滿足全球更廣大的健康需求。目前7款細胞治療製劑開發中：急性呼吸窘迫症候群ARDS、肺部纖維化、慢性腎衰竭、急性傷口修復、慢性傷口癒合、退化性關節炎、乾眼症";
    ViewData["MetaKeywords"] = "訊聯生技集團, 訊聯,細胞智藥,細胞製劑,再生醫療製劑,訊聯外泌體,次世代外泌體,外泌體,Exosome,急性呼吸窘迫症候群,ARDS,肺部纖維化,慢性腎衰竭,急性傷口修復,慢性傷口癒合,糖尿病足潰瘍,退化性關節炎,乾眼症,CRDMO,Exosome Foundry,外泌體研發代工";
    ViewData["MetaOgTitle"] = "訊聯細胞智藥";
    ViewData["MetaOgDescription"] = "訊聯細胞智藥";
}

  <!-- ***** Main Banner Area Start ***** -->
 <section class="section main-banner" data-section="section1">
      <video autoplay muted loop id="bg-video" playsinline>
          <source src="~/assets/images/banner.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">

                        <h1 id="HH">訊聯細胞智藥</h1>
                        <h2>次世代外泌體 X 細胞製劑 X Exosome Foundry 全球研發代工</h2>
              
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-service-item owl-carousel d-flex align-content-center">
                    <div class="item">
                        <div class="icon">
                            <img src="~/assets/images/icons/icon_O_14GTP_new.svg" alt="">
                        </div>
                        <div class="down-content">
                            <h4>執行14次GTP審查</h4>
                            <h5>通過GTP (人體細胞組織優良操作規範) 實地稽核訪查</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="~/assets/images/icons/icon_O_11AABB_new.svg" alt="">
                        </div>
                        <div class="down-content">
                            <h4>11次AABB認證</h4>
                            <h5>連續獲AABB (美國血液和生物療法促進協會) 認證，全球公認最嚴格且最具權威的國際組織</h5>
                        </div>

                    </div>

                    <div class="item">
                        <div class="icon">
                            <img src="~/assets/images/icons/icon_O_GMP_ISO_new.svg" alt="">
                        </div>
                        <div class="down-content">
                            <h4>GMP、ISO雙認證</h4>
                            <h5>GMP標準優良製造場域 及 符合歐盟化妝品GMP製造規範的「ISO 22716」</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="~/assets/images/icons/icon_O_INCI38293_new.svg" alt="">
                        </div>
                        <div class="down-content">
                            <h4>
                                國際化粧保養品成分名稱(Mono ID: 38293)
                                INCI認證
                            </h4>
                            <h5>全台第一家取得美國個人護理產品委員會(PCPC)核可間質幹細胞分泌之外泌體認證-INCI 名: 豬臍帶間質幹細胞外泌體</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="~/assets/images/icons/icon_O_INCI35046_new.svg" alt="">
                        </div>
                        <div class="down-content">
                            <h4>
                                國際化粧保養品成分名稱(Mono ID: 35046)
                                INCI認證
                            </h4>
                            <h5>全台第一家取得美國個人護理產品委員會(PCPC)核可間質幹細胞分泌之外泌體認證-INCI 名: 人臍帶間質幹細胞外泌體</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="~/assets/images/icons/icon_O_BU-01New Drug_new.svg" alt="">
                        </div>
                        <div class="down-content">
                            <h4>臍帶間質幹細胞新藥BU-01</h4>
                            <h5>全球首件！治療肺部纖維化取得人體臨床二期</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="~/assets/images/icons/icon_O_BU-01ARDS_new.svg" alt="">
                        </div>
                        <div class="down-content">
                            <h4>臍帶間質幹細胞新藥BU-01</h4>
                            <h5>治療急性呼吸窘迫症(ARDS)人體臨床二期收案近50%</h5>
                        </div>
     
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="~/assets/images/icons/icon_O_EXOtear_new.svg" alt="">
                        </div>
                        <div class="down-content">
                            <h4>外泌體新藥ExoTear</h4>
                            <h5>獲CDE指標案件輔導</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="~/assets/images/icons/icon_O_InternationalCertification_new.svg" alt="">
                        </div>
                        <div class="down-content">
                            <h4>國際期刊認證</h4>
                            <h5>基因轉殖外泌體改善急性肺損傷獲國際期刊刊登</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="~/assets/images/icons/icon_O_CRDMO_new.svg" alt="">
                        </div>
                        <div class="down-content">
                            <h4>外泌體全球研發代工</h4>
                            <h5>CRDMO 外泌體研究與客製化開發</h5>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<section class="videoSection">
    <div class="container">
        <div class="row ">
            <div class="col-md-6  col-12 align-self-center px-3 py-2 ">
                <div class="video">
                    <a href="https://bit.ly/4iAL347">
                        <img src="~/assets/images/index/video-section-left-cn.jpg" alt="video">
                    </a>
                </div>
            </div>

            <div class=" col-md-6  col-12 align-self-center px-3 py-2">
                <div class="video">
                    <a href="https://youtu.be/SZEyyz_rnWw?si=i6WDeaCsqMxMoF85">
                        <img src="~/assets/images/index/video-section-cn.jpg" alt="video">
                    </a>
                </div>
            </div>



        </div>

    </div>
</section>

@* <section class="our-facts">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    測試
                </h2>
            </div>

            <div class=" col-md-12  col-12 align-self-center p-1">
                <div class="imgwrap">
                    <img src="~/assets/images/index/exosomeSection-cn.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section> *@

<section class="our-facts">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    次世代外泌體5大特點
                </h2>
            </div>
         
                <div class="col-md-5  col-12 align-self-center p-1">
                    <div class="video">
                    <a href="https://youtu.be/o7kbzYeOklI">
                            <img src="~/assets/images/video-item-bg-01.png" alt="video">
                        </a>
                    </div>
                </div>

                <div class=" col-md-7  col-12 align-self-center p-1">
                    <div class="imgwrap">

                        <img src="~/assets/images/index/exosomeSection-cn.png" alt="picture">

                    </div>

                </div>
            


          </div>
     
    </div>
</section>

<section class="apply-now" id="apply">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="item blockCompanyIntro">
                    <img id="bionetlogo" src="~/assets/images/bionetlogo.svg" class="my-4">
                    <p class="py-2">台灣第一家專攻細胞治療的上市櫃公司，具備醫療等級之細胞治療產品的核心技術及製備能力，不僅細胞應用超過60種疾病，亦提供客製化 外泌體(臍帶血外泌體、羊水外泌體)服務。2005年成立間質幹細胞保存庫。通過衛福部特管法細胞治療，包括脂肪間質幹細胞用於退化性關節炎、膝關節軟骨缺損、慢性傷口、皮下軟組織缺損，以及免疫細胞CIK治療大腸直腸癌、肺癌、乳癌、肝癌等多種癌症。</p>
                    <span class="indexSpan">產品服務：臍帶血造血幹細胞、臍帶間質幹細胞、臍帶血外泌體、羊水外泌體、脂肪間質幹細胞、免疫細胞</span>
                    <div class="main-button-red mt-4" style="text-align:center;">
                        <div><a href="https://www.bionetcorp.com/" target="_blank">Read more</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="item blockCompanyIntro">
                    <img id="ggalogo" src="~/assets/images/ggalogo.svg" class="my-4">
                    <p class="py-2">
                        台灣第一家同時專攻「精準健康/基因醫學」及「數位醫療科技」，擁有生醫與資訊跨界整合的企業。長期為醫界提供各種臨床檢測分析報告，以「受檢者最終、最佳臨床結果為中心之各項檢測完整分析與追蹤 －Patient-centered Total Testing Process」為目標，積極實踐全方位、全齡層的精準健康服務。

                    </p>
                    <span class="indexSpan">產品服務：孕前檢測、孕期檢測、新生兒檢測、成人健康&癌症風險基因檢測</span>
                    <div class="main-button-red mt-4" style="text-align:center;">
                        <div><a href="https://www.gga.asia/" target="_blank">Read more</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>




    @* index js *@
        <script src="~/js/Vue/vue.js" ></script>  
@* <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script> *@



